.search__check-text {
  margin-left: 14px;
  max-width: 117px;
  max-height: 18px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: var(--main-font-color);
}

.search__checkbox {
max-height: 20px;
}
